<body ng-app="">
<div ng-show="userComment" >
<div class="hero-unit-comments">
<pre style="background-color:#BCC9C9"><code><p>{{userComment}}</p></code></pre>
</div>
</div>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if member_signed_in? %>
  <div class="field">
    
    <%= f.hidden_field :user_name, :value => current_member.username %>
  </div>
  <% end %>
  <div class="field">
    <b>Share your comment..!!</b><%= image_tag "comments.png", size: "40x20" %><br/>
    <%= f.text_area :body, :size=> "440x6", "ng-model" => "userComment" %>
  </div>
  <div class="field">
    <%= f.hidden_field :idea_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
