<h1>Listing kushis</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kushis.each do |kushi| %>
  <tr>
  <td><%= image_tag kushi.kushi_image_url.to_s %></td>
    <td><%= link_to 'Show', kushi %></td>
    <td><%= link_to 'Edit', edit_kushi_path(kushi) %></td>
    <td><%= link_to 'Destroy', kushi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kushi', new_kushi_path %>
